.tarea{
    display: flex;
    margin-left: 50px;
    margin-top: 10px;
    padding: -10px;
}

.eliminar{
    margin-top: 10px;
    padding: -10px;
    visibility: hidden;
    transition: opacity 0.5s;
    cursor: pointer;
}

.lista:hover .eliminar{
    opacity: 1;
    visibility: visible;
}
